HW4_Sam Yuxiao Sun

In [2]:
#Import modules
import re
from urllib.request import urlopen
from bs4 import BeautifulSoup
import csv
import pandas as pd
import time
import datetime
import numpy as np

Part a & b

In [2]:
#Open the url with beautifual soup. 
base_url = "https://en.wikipedia.org"
index_ref = "/wiki/List_of_accidents_and_incidents_involving_commercial_aircraft"
index_html = urlopen(base_url + index_ref)
soup = BeautifulSoup(index_html, "lxml")

In [3]:
#Time delay function
def try_request(url):
    html = urlopen(url)
    time.sleep(1)
    return html

In [42]:
date=[] #set initial values
description=[]
link=[]
passengers=[]
crew=[]
fatalities=[]
survivors=[]
registration=[]
origin=[]
destination=[]
for each in soup.find_all('li'):
    if re.search('(–|-)(\s)(\w|\s|-|,|<i>)*<b><a', str(each)) is not None:  #match the '-'+link structure
        try:
            lin = each.find('a')['href'] #the link and description info can be directly scrapped from the main page
        except:
            lin=None
        try:
            de=each.get_text()
            desc=re.split(' –|- ',de)[1] #split with 'space'+'-' to aviod breaking up sentences
        except:
            try:
                desc=each.get_text() #in case of spliting failure
            except:
                desc=None
            
        html=try_request(base_url + lin)
        soup1= BeautifulSoup(html, "lxml")
        table=soup1.find('table',attrs={'class':'infobox'}) #extract the summary table from the sub-page
        
        try:
            da=table.find(text='Date').find_next('td').text.replace('\xa0','')#replace xa0 to decrease noise
            day=re.search('(?<!\d)\d{1,2}', da).group() #only one or two digits month
            month=re.search('([A-Z]|[a-z])+', da).group() #first word
            year=re.search('(\d\d\d\d)', da).group() #four digits year
            dat=' '.join([day,month,year]) 
        except:
            try:
                dat=table.find(text='Date').find_next('td').text #nested loop is created to support special senarios
            except:                             
                dat=None #I choose to use None instead of the string 'No Data' to make follow-on tasks easier
                
        try:
            p=table.find(text='Passengers').find_next('td').text
            pas=re.search('\d+', p).group() #select the first number, return the matched substring
        except:
            try:
                pas=table.find(text='Passengers').find_next('td').text
            except:
                pas=None
                
        try:
            c=table.find(text='Crew').find_next('td').text
            cre=re.search('\d+', c).group() 
        except:
            try:
                cre=table.find(text='Crew').find_next('td').text
            except:
                cre=None
                
#For fatalities and survivors, first try total number so that we can record the correct value for collision cases
        try:
            f=table.find(text='Total fatalities').find_next('td').text 
            fat=re.search('\d+', f).group()
        except:
            try:
                f=table.find(text='Fatalities').find_next('td').text
                fat=re.search('\d+', f).group()
            except:
                try:
                    fat=table.find(text='Fatalities').find_next('td').text
                except:
                    fat=None
                    
        try:
            s=table.find(text='Total survivors').find_next('td').text
            sur=re.search('\d+', s).group()
        except:
            try:
                s=table.find(text='Survivors').find_next('td').text
                sur=re.search('\d+', s).group()
            except:
                try:
                    sur=table.find(text='Survivors').find_next('td').text
                except:
                    sur=None
                    
        try:
            reg=table.find(text='Registration').find_next('td').text            
        except:
            reg=None
            
        try:
            ori=table.find(text='Flight origin').find_next('td').text
        except:
            ori=None
            
        try:
            dest=table.find(text='Destination').find_next('td').text
        except:
            dest=None
             
        description.append(desc) #append the list for each iteration
        link.append(lin)       
        date.append(dat)
        passengers.append(pas)
        crew.append(cre)
        fatalities.append(fat)
        survivors.append(sur)
        registration.append(reg)
        origin.append(ori)
        destination.append(dest)                      
    else:
        continue
df=pd.DataFrame({'description':description,'link':link,'date':date,'passengers':passengers,'crew':crew,'fatalities':fatalities,'survivors':survivors,'registration':registration,'origin':origin,'destination':destination})

In [134]:
df['date']=pd.to_datetime(df_air['date']) #use the datetime parser to convert str to datatime object
df

,crew,date,description,destination,fatalities,link,origin,passengers,registration,survivors
0,2,1919-08-02,"A Caproni Ca.48 crashes at Verona, Italy, dur...","Taliedo, Milan, Italy",14,/wiki/1919_Verona_Caproni_Ca.48_crash,"Venice, Italy",12,None,0
1,2,1922-04-07,"In the first mid-air collision of airliners, ...",Croydon,7,/wiki/First_mid-air_collision_of_airliners,"Le Bourget, Paris",3,F-GEAD,0
2,2,1923-05-14,An Air Union Farman F.60 Goliath crashes near...,"Croydon, Surrey, United Kingdom",6,/wiki/May_1923_Air_Union_Farman_Goliath_crash,"Le Bourget, Paris, France",4,F-AEBY,0
3,2,1923-08-27,An Air Union Farman F.60 Goliath crashes near...,"Croydon Airport, Surrey, United Kingdom",1,/wiki/August_1923_Air_Union_Farman_Goliath_crash,"Le Bourget Airport, Paris, France",11,F-AECB,12
4,1,1924-12-24,An Imperial Airways de Havilland DH.34 crashe...,"Le Bourget, Paris, France",8,/wiki/1924_Imperial_Airways_de_Havilland_DH.34...,"Croydon, Surrey, United Kingdom",7,G-EBBX,0
5,2,1926-08-18,An Air Union Blériot 155 crashes while attemp...,"Croydon Airport, Croydon, United Kingdom",3,/wiki/August_1926_Air_Union_Bl%C3%A9riot_155_c...,"Le Bourget Airport, Paris, France",13,F-AIEB,12
6,2,1926-10-02,An Air Union Blériot 155 catches fire in mid-...,"Croydon Airport, Croydon, United Kingdom",7,/wiki/October_1926_Air_Union_Bl%C3%A9riot_155_...,"Le Bourget Airport, Paris, France",5,F-AICQ,0
7,2,1927-08-22,"A KLM Fokker F. VIII crashes near Sevenoaks, ...","Waalhaven Airport, Rotterdam",1,/wiki/1927_KLM_Fokker_F.VIII_crash,Croydon Airport,9,H-NADU,10
8,1,1928-07-13,An Imperial Airways Vickers Vulcan crashes on...,"Croydon Airport, England",4,/wiki/1928_Imperial_Airways_Vickers_Vulcan_crash,"Croydon Airport, England",5,G-EBLB,2
9,2,1929-06-17,An Imperial Airways Handley Page W.10 ditches...,"Zurich Airport, Switzerland",7,/wiki/1929_Imperial_Airways_Handley_Page_W.10_...,"Croydon Airport, United Kingdom",11,G-EBMT,6
10,3,1929-11-06,"A Junkers G 24 crashes near Marden Park, Gods...",Amsterdam-Schiphol Municipal Airport Netherlands,7,/wiki/1929_Luft_Hansa_Junkers_G_24_crash,"Croydon Airport, Surrey, United Kingdom",5,D-903,1
11,3,1930-02-10,An Air Union Farman F.63 Goliath crashes whil...,Croydon Airport,2,/wiki/1930_Air_Union_Farman_Goliath_crash,"Le Bourget Airport, Paris",3,F-FHMY,4
12,2,1931-03-21,"Australian National Airways Southern Cloud, a...",None,8,/wiki/Southern_Cloud,None,6,VH-UMF,0
13,2,1931-03-31,"TWA Flight 599, a Fokker F.10 Trimotor, crash...","Los Angeles, California",8,/wiki/TWA_Flight_599,"Kansas City, Missouri",6,NC999E,0
14,3,1933-03-28,The 1933 Imperial Airways Dixmude crash in Be...,Croydon Airport,15,/wiki/1933_Imperial_Airways_Dixmude_crash,Brussels Airport,12,G-AACI,0
15,3,1933-10-10,The United Airlines crash near Chesterton: a ...,"Oakland, California",7,/wiki/1933_United_Airlines_Boeing_247_mid-air_...,"Newark, New Jersey",4,NC13304,0
16,2,1933-12-30,In the 1933 Imperial Airways Ruysselede crash...,"Croydon Airport, United Kingdom",10,/wiki/1933_Imperial_Airways_Ruysselede_crash,"Cologne Butzweilerhof Airport, Germany",8,G-ABLU,None
17,3,1934-05-09,An Air France Wibault 282T crashes into the E...,"Croydon, Surrey, United Kingdom",6,/wiki/1934_Air_France_Wibault_282T_crash,"Le Bourget, Paris, France",3,F-AMHP,0
18,3,1934-07-27,A Swissair Curtiss T-32 Condor II crashes nea...,"Berlin Tegel Airport, Germany",12,/wiki/1934_Swissair_Tuttlingen_accident,"Zurich Airport, Switzerland",9,CH-170,0
19,1,1934-10-02,A Hillman's Airways de Havilland Dragon Rapid...,"Le Bourget, Paris, France",7,/wiki/1934_Hillman%27s_Airways_de_Havilland_Dr...,"Abridge Aerodrome, Essex, United Kingdom",6,G-ACPM,0
20,3,1935-10-07,"United Airlines Trip 4, a Boeing 247D, crashe...","Cheyenne, Wyoming",12,/wiki/United_Airlines_Flight_4,"Salt Lake City, Utah",9,NC13317,0
21,2,1935-12-10,A SABENA Savoia-Marchetti S.73 crashes crashe...,"Croydon Airport, United Kingdom",11,/wiki/1935_SABENA_Savoia-Marchetti_S.73_crash,"Brussels Airport, Belgium",9,OO-AGN,None
22,3,1936-01-14,"American Airlines Flight 1, a Douglas DC-2, c...","Little Rock National Airport, Little Rock, Ark...",17,/wiki/American_Airlines_Flight_1_(1936),"Memphis Municipal Airport, Memphis, Tennessee",14,NC14274,0
23,3,1936-04-07,"TWA Flight 1, a Douglas DC-2, crashes near Un...",Los Angeles,12,/wiki/TWA_Flight_1,"Newark, New Jersey",11,NC-13721,2
24,4,1936-06-16,"In the Havørn Accident, a Norwegian Air Lines...",Tromsø,7,/wiki/Hav%C3%B8rn_Accident,Bergen,3,LN-DAE,0
25,2,1936-08-05,"Chicago and Southern Flight 4, a Lockheed Mod...","Midway Airport, Chicago, Illinois,",8,/wiki/Chicago_and_Southern_Flight_4,"Lambert St. Louis Airport, St. Louis, United S...",6,NC16022,0
26,4,1936-12-09,A KLM Douglas DC-2 crashes on takeoff from Cr...,Amsterdam-Schiphol Municipal Airport (AMS/EHAM...,15,/wiki/1936_KLM_Croydon_accident,"Croydon Air Port, Croydon, United Kingdom",13,PH-AKL,2
27,3,1936-12-27,"United Airlines Trip 34, a Boeing 247, crashe...","Los Angeles, California",12,/wiki/United_Airlines_Trip_34,"San Francisco, California",9,NC13355,0
28,3,1937-01-12,"Western Air Express Flight 7, a Boeing 247, c...","Burbank, California",5,/wiki/Western_Air_Express_Flight_7,"Salt Lake City, Utah",10,NC13315,8
29,2,1937-02-19,An Australian National Airways Stinson Model ...,"Sydney Airport, Sydney",5,/wiki/1937_Australian_National_Airways_Stinson...,"Archerfield Airport, Brisbane",5,VH-UHH,3
...,...,...,...,...,...,...,...,...,...,...
1028,1,2013-07-07,A de Havilland Canada DHC-3 operated by Redis...,"Bear Mountain Lodge, Chinitna Bay, Nikiski, Al...",10,/wiki/2013_Rediske_Air_Otter_crash,Soldotna Airport,9,None,0
1029,2,2013-08-14,"UPS Airlines Flight 1354, an Airbus A300 frei...",Birmingham–Shuttlesworth International Airport,2,/wiki/UPS_Airlines_Flight_1354,Louisville International Airport,0,N155UP,0
1030,7,2013-10-03,"Associated Aviation Flight 361, an Embraer 12...","Akure Airport, Ondo State",15,/wiki/Associated_Aviation_Flight_361,"Murtala Mohammed Airport, Lagos",13,5N-BJY,5
1031,5,2013-10-16,"Lao Airlines Flight 301, an ATR-72, crashes s...","Pakse International Airport, Laos",49,/wiki/Lao_Airlines_Flight_301,"Wattay International Airport, Vientiane, Laos",44,RDPL-34233,0
1032,6,2013-11-17,"Tatarstan Airlines Flight 363, a Boeing 737, ...","Kazan International Airport, Kazan, Tatarstan,...",50,/wiki/Tatarstan_Airlines_Flight_363,"Domodedovo International Airport, Moscow Oblast",44,VQ-BBN,0
1033,6,2013-11-29,"LAM Mozambique Airlines Flight 470, an Embrae...","Quatro de Fevereiro Airport, Luanda, Angola",33,/wiki/LAM_Mozambique_Airlines_Flight_470,"Maputo International Airport, Maputo, Mozambique",27,C9-EMC,0
1034,3,2014-02-16,"Nepal Airlines Flight 183, a de Havilland Can...","Jumla Airport, Nepal",18,/wiki/Nepal_Airlines_Flight_183,"Pokhara Airport, Nepal",15,9N-ABB,0
1035,9,2014-02-17,"Ethiopian Airlines Flight 702, a Boeing 767, ...","Malpensa Airport, Italy",0,/wiki/Ethiopian_Airlines_Flight_702,"Addis Ababa Bole International Airport, Ethiopia",193,ET-AMF[3],202
1036,12,2014-03-08,"Malaysia Airlines Flight 370, a Boeing 777 en...",Beijing Capital International Airport,239,/wiki/Malaysia_Airlines_Flight_370,Kuala Lumpur International Airport,227,9M-MRO,0
1037,15,2014-07-17,"Malaysia Airlines Flight 17, a Boeing 777 en ...",Kuala Lumpur International Airport,298,/wiki/Malaysia_Airlines_Flight_17,Amsterdam Airport Schiphol,283,9M-MRD,0
1038,4,2014-07-23,"TransAsia Airways Flight 222, an ATR-72 en ro...",Magong Airport,48,/wiki/TransAsia_Airways_Flight_222,Kaohsiung International Airport,54,B-22810,10
1039,6,2014-07-24,"Air Algérie Flight 5017, a chartered Swiftair...","Houari Boumediene Airport, Algiers, Algeria",116,/wiki/Air_Alg%C3%A9rie_Flight_5017,"Ouagadougou Airport, Burkina Faso",110,EC-LTV,0
1040,8,2014-08-10,"Sepahan Airlines Flight 5915, a HESA IrAn-140...",Tabas Airport,39,/wiki/Sepahan_Airlines_Flight_5915,Mehrabad International Airport,40,EP-GPA,9
1041,7,2014-12-28,"Indonesia AirAsia Flight 8501, an Airbus A320...","Singapore Changi Airport, Singapore",162,/wiki/Indonesia_AirAsia_Flight_8501,"Juanda International Airport, Surabaya, Indonesia",155,PK-AXC,0
1042,5,2015-02-04,"TransAsia Airways Flight 235, an ATR-72, stal...","Kinmen Airport, Kinmen, Taiwan",43,/wiki/TransAsia_Airways_Flight_235,"Taipei Songshan Airport, Songshan, Taipei, Taiwan",53,B-22816,15
1043,5,2015-03-05,"Delta Air Lines Flight 1086, a McDonnell Doug...","LaGuardia Airport, New York City, United States",0,/wiki/Delta_Air_Lines_Flight_1086,Hartsfield–Jackson Atlanta International Airpo...,127,N909DL,132
1044,6,2015-03-24,"Germanwings Flight 9525, an Airbus A320, cras...","Düsseldorf Airport, Düsseldorf, Germany",150,/wiki/Germanwings_Flight_9525,"Barcelona–El Prat Airport, Barcelona, Spain",144,D-AIPX,0
1045,5,2015-03-29,"Air Canada Flight 624, an Airbus A320, landed...","Halifax Stanfield International Airport, Halif...",0,/wiki/Air_Canada_Flight_624,"Toronto Pearson International Airport, Toronto...",133,C-FTJP,138
1046,8,2015-04-14,"Asiana Airlines Flight 162, an Airbus A320, l...","Hiroshima Airport, Japan",0,/wiki/Asiana_Airlines_Flight_162,"Incheon International Airport, South Korea",74,HL7762,82
1047,5,2015-04-25,"Turkish Airlines Flight 1878, an Airbus A320,...","Istanbul Atatürk Airport, Turkey",0,/wiki/Turkish_Airlines_Flight_1878,"Milan–Malpensa Airport, Italy",97,TC-JPE,102
1048,5,2015-08-16,"Trigana Air Service Flight 257, an ATR-42, cr...","Oksibil Airport, Oksibil, Indonesia (OKL/WAJO)",54,/wiki/Trigana_Air_Service_Flight_257,"Sentani Airport, Jayapura, Indonesia",49,PK-YRN,0
1049,unknown,2015-09-05,"Ceiba Intercontinental Airlines Flight 71, a ...","Cotonou-Cadjehoun Airport (COO/DBBB), Cotonou,...",7,/wiki/Ceiba_Intercontinental_Airlines_Flight_71,Dakar-Léopold Sédar Senghor International Airp...,unknown,3C-LLY,737
1050,13,2015-09-08,"British Airways Flight 2276, a Boeing 777-200...","Gatwick Airport, Crawley, England",0,/wiki/British_Airways_Flight_2276,Las Vegas McCarran International Airport,157,G-VIIO,170
1051,3,2015-10-02,"Aviastar Flight 7503, a DHC-6 Twin Otter, cra...","Sultan Hasanuddin International Airport, Makas...",10,/wiki/Aviastar_Flight_7503,"Andi Jemma Airport, Masamba, Indonesia",7,PK-BRM,0
1052,11,2015-10-29,"Dynamic Airways Flight 405, a 29-year-old Boe...","Caracas International Airport, Maiquetía, Vene...",0,/wiki/Dynamic_Airways_Flight_405,Fort Lauderdale–Hollywood International Airpor...,90,N251MY,101
1053,7,2015-10-31,"Metrojet Flight 9268, an Airbus A321 was blow...","Pulkovo Airport, Saint Petersburg, Russia",224,/wiki/Metrojet_Flight_9268,"Sharm el-Sheikh International Airport, Sinai P...",217,EI-ETJ,0
1054,6,2015-11-04,"In the 2015 Juba An-12 crash, a cargo plane A...","Paloich Airport, South Sudan",37,/wiki/2015_Juba_An-12_crash,"Juba International Airport, Juba, South Sudan",12,EY-406,2
1055,2,2016-01-08,"West Air Sweden Flight 294, a Bombardier CRJ2...","Tromsø Airport, Tromsø, Norway",2,/wiki/West_Air_Sweden_Flight_294,"Oslo Airport, Gardermoen, Oslo, Norway",0,SE-DUX,0
1056,7,2016-02-02,"Daallo Airlines Flight 159, an Airbus A321, en...",Djibouti–Ambouli International Airport,1,/wiki/Daallo_Airlines_Flight_159,"Aden Adde International Airport, Somalia",74,SX-BHS,80
1057,3,2016-02-24,"Tara Air Flight 193, a de Havilland Canada DHC...","Jomsom Airport, Jomsom",23,/wiki/Tara_Air_Flight_193,"Pokhara Airport, Pokhara",20,9N-AHH,0

Part c

In [126]:
df2=df[['fatalities','origin','description']]

In [127]:
#It seems to be difficult to convert this column to int, so I use string comparision instead
df2.sort_values('fatalities',ascending=False).head(5) #top 5 fatalities

,fatalities,origin,description
456,583,"Los Angeles Int'l Airport\nLos Angeles, United...","in the Tenerife airport disaster, KLM Flight ..."
581,520,"Haneda Airport, Tokyo","Japan Airlines Flight 123, a Boeing 747, cras..."
758,349,"Indira Gandhi Int'l Airport\nDelhi, India",Charkhi Dadri mid-air collision: Saudi Arabia...
421,346,"Yesilköy Int'l Airport\nIstanbul, Turkey","Turkish Airlines Flight 981, a McDonnell Doug..."
578,329,Toronto (as Flight 181) Montréal-Mirabel Int'l...,"Air India Flight 182, a Boeing 747 en route f..."

Part d

In [128]:
df.columns=df.columns.str.strip() #strip off trailing and leading whitespace

In [139]:
df_25year=df[df['date']>'1991-02-24'] #last 25 years
#utilize the description column to count
df_25year.groupby('origin')['description'].agg('count').sort_values(ascending=False).head(1)

origin
Ninoy Aquino International Airport    3
Name: description, dtype: int64

Part e

In [137]:
import json
df.to_json('dataframe.json',date_format='iso') #specify date format so that "read_json" command can retrive datatime

In [8]:
df=pd.read_json('dataframe.json') #check the last row
df.loc[1057,:]

crew                                                            3
date                                          2016-02-24 00:00:00
description     Tara Air Flight 193, a de Havilland Canada DHC...
destination                                Jomsom Airport, Jomsom
fatalities                                                     23
link                                    /wiki/Tara_Air_Flight_193
origin                                   Pokhara Airport, Pokhara
passengers                                                     20
registration                                               9N-AHH
survivors                                                       0
Name: 1057.0, dtype: object

-----------------------------------------------------------------

Drafts

In [ ]:
#Example: scrape link
link = soup.find('li').find('a')['href']
link

In [6]:
#Table
html=urlopen(base_url + '/wiki/1942_Qantas_Short_Empire_shootdown')
soup1= BeautifulSoup(html, "lxml")
table=soup1.find('table',attrs={'class':'infobox'})
table

In [ ]:
#Date
try:
    da=table.find(text='Date').find_next('td').text
    day=re.search('(\d+)', da).group() #first value
    month=re.search('([A-Z]|[a-z])+', da).group() #first word
    year=re.search('(\d+){2}', da).group() #second value
    dat=' '.join([day,month,year]) 
except:
    try:
        dat=table.find(text='Date').find_next('td').text #this subloop is created to incoporate special senarios
    except:                             
        dat='No data'
dat

In [ ]:
#passengers
p=table.find(text='Passengers').find_next('td').text
passengers=re.search(r'\d+', p).group()
passengers

In [ ]:
#crews
c=table.find(text='Crew').find_next('td').text
crews=re.search(r'\d+', c).group()
crews

In [ ]:
#fatalities
f=table.find(text='Fatalities').find_next('td').text
fatalities=re.search(r'\d+', f).group()
fatalities

In [ ]:
#survivors
s=table.find(text='Survivors').find_next('td').text
survivors=re.search(r'\d+', s).group()
survivors

In [7]:
#registration
try:
    r=table.find(text='Registration').find_next('td').text
except:
    reg='No data'
reg

'No data'

In [ ]:
#origin
origin=table.find(text='Flight origin').find_next('td').text
origin

In [ ]:
#destination
destination=table.find(text='Destination').find_next('td').text
destination

In [ ]:
#Example: scrape description
d=soup.find('li').get_text()
des=re.split('–|-',d)[1]
des

In [ ]:
base1_url = "https://en.wikipedia.org"
index1_ref = "/wiki/May_1923_Air_Union_Farman_Goliath_crash"
index1_html = urlopen(base1_url + index1_ref)
soup2 = BeautifulSoup(index1_html, "lxml")

In [ ]:
da=soup2.find(text='Date').find_next('td').text.replace('\xa0','')
da
day=re.search('(?<!\d)\d{1,2}', da).group()
month=re.search('([A-Z]|[a-z])+', da).group()
year=re.search('(\d\d\d\d)', da).group()
dat=' '.join([day,month,year])
dat

In [16]:
df_25year=df[df['date']>'1901-02-24'] #last 25 years
#utilize the description column to count
df_25year.groupby('origin')['description'].agg('count').sort_values(ascending=False).head(1)

origin
London Heathrow Airport    10
Name: description, dtype: int64

In [18]:
df.sort_values('fatalities',ascending=False).head(5) #top 5 fatalities

,crew,date,description,destination,fatalities,link,origin,passengers,registration,survivors
456,16,1977-03-27,"in the Tenerife airport disaster, KLM Flight ...","Gran Canaria Airport\nCanary Islands, Spain",583,/wiki/Tenerife_airport_disaster,"Los Angeles Int'l Airport\nLos Angeles, United...",380,N736PA[1],61
581,15,1985-08-12,"Japan Airlines Flight 123, a Boeing 747, cras...","Osaka Int'l Airport, Itami",520,/wiki/Japan_Airlines_Flight_123,"Haneda Airport, Tokyo",509,JA8119,4
758,23,1996-11-12,Charkhi Dadri mid-air collision: Saudi Arabia...,"Dhahran International Airport\nDhahran, Saudi ...",349,/wiki/Charkhi_Dadri_mid-air_collision,"Indira Gandhi Int'l Airport\nDelhi, India",289,HZ-AIH,0
421,11,1974-03-03,"Turkish Airlines Flight 981, a McDonnell Doug...","London Heathrow Airport\nLondon, United Kingdom",346,/wiki/Turkish_Airlines_Flight_981,"Yesilköy Int'l Airport\nIstanbul, Turkey",335,TC-JAV,0
578,22,1985-06-23,"Air India Flight 182, a Boeing 747 en route f...","Indira Gandhi Int'l Airport\nNew Delhi, India",329,/wiki/Air_India_Flight_182,Toronto (as Flight 181) Montréal-Mirabel Int'l...,307,VT-EFO,0